html,body{
  height: 100%;
}

h2 {
  font-family: Dancing Script;
  font-size: 56px;
}

.menu-container {
  padding: 50px;

  ul {
    list-style: none;
    padding-left: 0;
  }
  .price {
    float: right;
  }
  .allergy-tags {
    font-size: 12px;
    margin-left: 5px;
  }
}

.menu-column {
  padding: 20px 30px;
  p {
    font-style: italic;
    opacity: 0.9;
    font-size: 12px;
  }
}


.menu-more {
  text-align: center;
  padding: 10px;
  a {
    color: black;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 1px 1px 2px gray;
  }
}


.about-us-container {
  margin-top: 100px;
}


.about-us {
  padding: 50px;
  h3 {
    font-weight: lighter;
    font-size: 26px;
  }
}

.about-us-owners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.our-story {
  padding: 50px;
}

.quote {
  padding: 50px;
  text-align: center;
  margin: auto;
  h3 {
    font-family: Dancing Script;
  }
}

.location {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    opacity: 0.9;
  }
  h3 {
    font-weight: 300;
  }


}


