<div class="footer">
  <div class="footer-container align-top ">
    <div class="container">
    <div class="row">

      <div class="footer-left col-md-4" >
        <h4>Contact</h4>
        <p>Bookings and take-away orders:</p>
        <p>08 9242 1229 </p>
        <p>Open 7 days a week 5pm til late. </p>
        <p>Closed on public Holidays.</p>
      </div>

      <div class="col-md-2">
        <h4>Location</h4>
        <p class="footer-address">907 Albany Hwy, East Victoria Park WA 6101</p>
      </div>

      <div class="col-md-2">
        <h4>Our awards</h4>
      </div>

      <div class="col-md-2">
        <h4>Explore</h4>
        <ul>
          <li>Home</li>
          <li>Menu</li>
          <li>Our story</li>
        </ul>
      </div>


      <div class="col-md-2">
        <div class="footer-right-part">
          <div class="footer-links">
            <h4>Follow Us</h4>
            <div>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
          </div>


       </div>

      </div>
</div>
    </div>
  </div>
</div>
