<div class="navbar-wagon">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-wagon-left">
      <%= image_tag 'cedar_tree.png', class:'logo' %>
      <%= link_to "The Prophet", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <p>(08) 9361 1101</p>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right ">
      <div class="navbar-wagon-item navbar-wagon-link">

          <%= link_to "Menu", menu_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "Our story", our_story_path, class: "navbar-wagon-item navbar-wagon-link" %>

      </div>
    </div>
  </div>
</div>


