<div class="container menu-page-container">
  <div class="menu">
    <div class="row">
      <h2 class="text-center">Our favourites</h2>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Starters</h3>
          <ul>
            <div>Hommus<span class="price">12</span></div>
            <p>Chickpea dip</p>
            <div>Baba<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Labneh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Tabbouleh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Falafel<span>14</span></div>
            <p>Chickpea dip</p>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Starters</h3>
          <ul>
            <div>Hommus<span class="price">12</span></div>
            <p>Chickpea dip</p>
            <div>Baba<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Labneh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Tabbouleh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Falafel<span>14</span></div>
            <p>Chickpea dip</p>
            <div>Hommus<span class="price">12</span></div>
            <p>Chickpea dip</p>
            <div>Baba<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Labneh<span>12</span></div>
            <p>Chickpea dip</p>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Starters</h3>
          <ul>
            <div>Hommus<span class="price">12</span></div>
            <p>Chickpea dip</p>
            <div>Baba<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Labneh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Tabbouleh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Falafel<span>14</span></div>
            <p>Chickpea dip</p>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Starters</h3>
          <ul>
            <div>Hommus<span class="price">12</span></div>
            <p>Chickpea dip</p>
            <div>Baba<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Labneh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Tabbouleh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Falafel<span>14</span></div>
            <p>Chickpea dip</p>
            <div>Hommus<span class="price">12</span></div>
            <p>Chickpea dip</p>
            <div>Baba<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Labneh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Tabbouleh<span>12</span></div>
            <p>Chickpea dip</p>
            <div>Falafel<span>14</span></div>
            <p>Chickpea dip</p>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
