<div class="container menu-page-container">
  <div class="menu-container">
    <div class="row menu-white-background">
      <h2 class="col-xs-12 menu-choice text-center">
        <div class = "inactive"><%= link_to "Dine-in", menu_path  %> </div>
        <div class="active">Take-away</div>
      </h2>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Starters</h3>
          <ul>
            <div>
              <div>Hommus<span class="price">10</span><span class="allergy-tags">v vg gf</span></div>
              <p>Chickpea dip</p>
            </div>
            <div>
              <div>Baba<span class="price">10</span><span class="allergy-tags">v vg gf</span></div>
              <p>Deep, smoky eggplant dip</p>
            </div>
            <div>
              <div>Tabbouleh<span class="price">10</span><span class="allergy-tags">v vg gf</span></div>
              <p>Fresh, tangy salad of parsley, tomato, onion and lemon</p>
            </div>
            <div>
              <div>Falafel<span class="price">12</span><span class="allergy-tags">v vg</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Meat</h3>
          <ul>
            <div>
              <div>Hommus<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Chickpea dip</p>
            </div>
            <div>
              <div>Baba<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Deep, smoky eggplant dip</p>
            </div>
            <div>
              <div>Tabbouleh<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Fresh, tangy salad of parsley, tomato, onion and lemon</p>
            </div>
            <div>
              <div>Falafel<span class="price">12</span><span class="allergy-tags">v vg</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Chicken</h3>
          <ul>
            <div>
              <div>Hommus<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Chickpea dip</p>
            </div>
            <div>
              <div>Baba<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Deep, smoky eggplant dip</p>
            </div>
            <div>
              <div>Tabbouleh<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Fresh, tangy salad of parsley, tomato, onion and lemon</p>
            </div>
            <div>
              <div>Falafel<span class="price">12</span><span class="allergy-tags">v vg</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="menu-column">
          <h3>Vegeterian</h3>
          <ul>
            <div>
              <div>Hommus<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Chickpea dip</p>
            </div>
            <div>
              <div>Baba<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Deep, smoky eggplant dip</p>
            </div>
            <div>
              <div>Tabbouleh<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Fresh, tangy salad of parsley, tomato, onion and lemon</p>
            </div>
            <div>
              <div>Falafel<span class="price">12</span><span class="allergy-tags">v vg</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
            <div>
              <div>Hommus<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Chickpea dip</p>
            </div>
            <div>
              <div>Baba<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Deep, smoky eggplant dip</p>
            </div>
            <div>
              <div>Tabbouleh<span class="price">12</span><span class="allergy-tags">v vg gf</span></div>
              <p>Fresh, tangy salad of parsley, tomato, onion and lemon</p>
            </div>
            <div>
              <div>Falafel<span class="price">12</span><span class="allergy-tags">v vg</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="banquet">
          <h3>Banquet</h3>
          <h4>Meat</h4><p>Selection of meat and vegetarian dishes</p>
          <h4>Vegeterian</h4><p>Selection of vegetarian dishes</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="ta-kebabs menu-column">
          <h3>Kebabs</h3>
          <h4>All kebabs come with hommus, lettuce and tomatoes</h4>
          <div>Lamb<span class="price">12</span></div>
          <div>Chicken<span class="price">12</span></div>
          <div>Falafel<span class="price">12</span><span class="allergy-tags">v vg</span></div>
          <div>Eggplant<span class="price">12</span><span class="allergy-tags">v vg</span></div>
          <div>Cauliflower<span class="price">12</span><span class="allergy-tags">v vg</span></div>
          <p>add chili +0.5, garlic sauce +0.5</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="menu-footer menu-column">
          <p class="allergy-tag">v - vegetarian</p>
          <p class="allergy-tag">vgn - vegan</p>
          <p class="allergy-tag">gf - gluten free</p>
          <p class="allergy-tag">ogf - onion&garlic free</p>
        </div>
      </div>
    </div>

    <div class="row menu-white-background">
      <h2 class="text-center">Sweets and drinks</h2>
      <div class="col-xs-12 col-md-6">
        <div class="menu-column">
          <h3>Sweets</h3>
          <ul>
            <div>
              <div>Baklava<span class="price">12</span><span class="allergy-tags">v</span></div>
              <p>Chickpea dip</p>
            </div>
            <div>
              <div>Semolina<span class="price">12</span><span class="allergy-tags">v </span></div>
              <p>Deep, smoky eggplant dip</p>
            </div>
            <div>
              <div>Halva<span class="price">12</span><span class="allergy-tags">v vg </span></div>
              <p>Fresh, tangy salad of parsley, tomato, onion and lemon</p>
            </div>
            <div>
              <div>Turkish delight<span class="price">12</span><span class="allergy-tags">v vg</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
            <div>
              <div>Walnut slice<span class="price">12</span><span class="allergy-tags">v </span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
            <div>
              <div>Date slice<span class="price">12</span><span class="allergy-tags">v</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="menu-column">
          <h3>Drinks</h3>
          <ul>
            <div>
              <div>Lebanese coffee - small pot<span class="price">12</span></div>
              <p>Chickpea dip</p>
            </div>
            <div>
              <div>Lebanese coffee - small pot<span class="price">12</span></div>
              <p>Deep, smoky eggplant dip</p>
            </div>
            <div>
              <div>Lebanese coffee - small pot<span class="price">12</span></div>
              <p>Fresh, tangy salad of parsley, tomato, onion and lemon</p>
            </div>
            <div>
              <div>Falt white/latte/cappucino<span class="price">12</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
            <div>
              <div>Espresso<span class="price">12</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
            <div>
              <div>Long black<span class="price">12</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
            <div>
              <div>Sparkling water<span class="price">12</span></div>
              <p>Award winning, crispy chickpea balls </p>
            </div>
            <div>
              <div>Soft drinks<span class="price">12</span></div>
              <p>Pepsi, Pepsi Max, Lemonade, LemonLime&Bitters, Solo, Agrum, Apple Juice, Orange Juice, Pineapple Juice</p>
            </div>
            <div>
              <div>Corkage<span class="price">12</span></div>
              <p>Per bottle of wine</p>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-12">
        <div class="menu-footer menu-column">
          <p class="allergy-tag">v - vegetarian</p>
          <p class="allergy-tag">vgn - vegan</p>
          <p class="allergy-tag">gf - gluten free</p>
          <p class="allergy-tag">ogf - onion&garlic free</p>
        </div>
      </div>
    </div>
    <h4> Please note our kitchen is not gluten free and we cannot guarantee that menu items have not come in contact with gluten products during their preparation in our kitchen
    </h4>
    <h4> A'la carte menu is only available for bookings of less than 10 people. For groups of 10+ we offer set banquet menu, $40 pp. </h4>
  </div>
</div>
